// Variáveis LESS
@margem-1: 50px;
@margem-2: @margem-1 / 2;
@margem-3: @margem-1 / 3;
@margem-4: @margem-1 / 4;
@margem-5: @margem-1 / 5;

@preto: #333;

// Imports
@import (less) "http://fonts.googleapis.com/css?family=Open+Sans:400,700";
@import (less) "bootstrap.css";


// Reset
html, body {
    width: 100%;
    height: 100%
}



// Adaptações bootstrap
.row {
    margin-top: @margem-2;
    margin-bottom: @margem-2;
}


// Estilo de Verdade
body {
    color: #333;
    background: #f1f1ef url(../images/bg-1.jpg) no-repeat right bottom fixed;
    overflow: hidden;
}





// Classes
.cabecario {
    margin-top: @margem-1
}

.logo {
    width: 512px;
}

.subtitulo {
    font-size: 20px
}

.texto {
    background: #FFF;
    padding: @margem-3;
    margin: @margem-3;
    overflow-y: scroll;
    height: 450px;
    display: none
}

.texto p {
    display: none
}


.copiar-texto {
    display: none
}

footer {
    position: absolute;
    bottom: 0;
}

.creditos {
    margin-top: 25px
}

.btn {
    background: #DDD
}

.btn:hover,
.btn:focus {
  background: #aaa;
}



// Smartphones no modo paisagem.
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    body {
        background: none;
        overflow: auto
    }

    .logo {
        width: 90%;
    }

    footer {
        position: static
    }

    .btn {
        padding: 7px 20px;
    }
}

// Tablets pequenos. Ex: Amazon Kindle (600×800)
@media only screen and (min-device-width : 480px) and (max-device-width : 600px) {
    body {
        background: none;
        overflow: auto
    }

    footer {
        position: static
    }
}


// Tablets maiores em modo retrato. Ex: iPad (768×1024)
@media only screen and (min-device-width : 600px) and (max-device-width : 768px) {
    body {
        background: none;
        overflow: auto
    }

    footer {
        position: static
    }
}


// Tablets maiores em modo paisagem, monitores antigos.
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    body {
        overflow: auto;
        background-size: 130%;
    }

    footer {
        position: static
    }
}


//  Monitores wide.
@media only screen and (min-device-width : 1024px) {

}
